extends ../layoutHome

block content
  .section#form
    .container
      h1 GET A FREE INTRO CLASS

      form(method="POST")
        .form-group
          label(for="firstnameInput")
          input.form-control#firstnameInput(
            name="firstname"
            type="text"
            placeholder="First Name*"
            class=errors.firstname ? "is-invalid" : ""
            value=prospect.firstname
            required=true
          )
          if errors.firstname
            #firstnameInput.invalid-feedback= errors.firstname.message

        .form-group
          label(for="lastnameInput")
          input.form-control#lastnameInput(
            name="lastname"
            type="text"
            placeholder="Last Name*"
            class=errors.lastname ? "is-invalid" : ""
            value=prospect.lastname
            required=true
          )
          if errors.lastname
            #lastnameInput.invalid-feedback= errors.lastname.message
      
        .form-group
          label(for="usernameInput") 
          input.form-control#usernameInput(
            name="username"
            type="email"
            placeholder="Email*"
            class=errors.username ? "is-invalid" : ""
            value=prospect.username
            required=true
        )
        if errors.username
          #emailInput.invalid-feedback= errors.username.message
                  
        .form-group
          label(for="phone") 
          input.form-control#phoneInput(
            name="phone"
            type="text"
            placeholder="Primary Phone*"
            class=errors.phone ? "is-invalid" : ""
            value=prospect.phone
            required=true
          )
          if errors.phone
            #phone.invalid-feedback= errors.phone.message

        .form-group
          label(for="heardaboutus") 
          select#heardaboutus.select.form-control(name="heardaboutus") 
            option(value="0", selected=true) How you heard about us?*
            option(value="1") Social Media
            option(value="2") Friends
            option(value="3") Walk In
            option(value="4") Other

          
        button.btn.btn-primary(type="submit") Submit