header
  nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-white
    a.navbar-brand(href="/") 
      img(src="/images/logo.png", alt="logo", class="img-responsive", width="200px")
    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/") Home
        li.nav-item: a.nav-link(href="#") About Us
        li.nav-item: a.nav-link(href="#") Programs
        li.nav-item: a.nav-link(href="#") Events & News
        li.nav-item: a.nav-link(href="#") Gallery
        li.nav-item: a.nav-link(href="#") Contact
        
      a.btn.btn-primary.btn-lg(href="/register") GET A FREE INTRO CLASS        