header.header-area
  nav.navbar.navbar-expand-md.fixed-top.custom-navbar
      a.logo(href="/") 
        img(src="/images/logo.png", alt="logo", class="img-responsive", width="200px")
      button.navbar-toggler(type="button"
                            data-toggle="collapse"
                            data-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.ml-3: a.nav-link(href="/") Home
          li.nav-item.dropdown.ml-3
            a.nav-link.dropdown-toggle(id='about-us', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') About Us
            .dropdown-menu(aria-labelledby='about-us')
              a.dropdown-item(href="/about-us/gb-yyc") GB Calgary
              a.dropdown-item(href="/about-us/instructors") Instructors
          li.nav-item.dropdown.ml-3
            a.nav-link.dropdown-toggle(id='programs', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Programs
            .dropdown-menu(aria-labelledby='programs')
              a.dropdown-item(href="/programs/adults") Adults
              a.dropdown-item(href="/programs/kids") Kids
              a.dropdown-item(href="/programs/privatelessons") Private Lessons
          li.nav-item.ml-3: a.nav-link(href="/posts/news-events") News & Events
          //li.nav-item.ml-3: a.nav-link(href="/gallery/gallery") Gallery
          li.nav-item.ml-3: a.nav-link(href="/contact/contact") Contact
        
        a.btn.btn-primary.btn-lg.ml-3.text-white(href="/register") GET A FREE INTRO CLASS

        